name: Release

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'

permissions:
  contents: read  # 저장소 내용을 읽기 위한 권한
  packages: write # 패키지를 게시하기 위한 쓰기 권한

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # 이 권한이 GITHUB_TOKEN이 패키지를 업로드할 수 있도록 허용합니다.
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
      - name: Publish package # Gradle의 'publish' 태스크를 실행합니다.
        run: gradle publish --debug
        env:
          GITHUB_USERNAME: ${{ secrets.USERNAME }} # 기본 토큰으로 인증합니다.
          GITHUB_TOKEN: ${{ secrets.TOKEN }} # 기본 토큰으로 인증합니다.
